html,
body {
  height: 100%;
}

.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Footer */
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #007b5e !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
.input_left input[type=text] {
  justify-content: left !important;
  width: 100%;
  margin: 10px 0;
}
.input_left input[type=text] {
  justify-content: left !important;
  width: 300px;
  border-radius: 6px;
  margin: 10px 0;
  border: none;
}
.carousel-item img {
  width: 100%;
  height: 45vh;
}
.navbar {
  background-color: #343a40!important; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #ccc;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #ccc;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: #000;
  text-decoration: none;
}
.price-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.original_item {
  text-decoration: line-through;
  font-size: 14px;
  color: #878787;
}
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

.figure {
  text-align: center;
}

.add_cart {
  padding: 10px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  width: 100%;
  border: none;
  float: left;
  background: #ff9f00;
  color: #fff;
}
.buynow {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
}
.price-item-1 {
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
  color: #212121;
}
.avilable_offer {
  list-style-type: none;
}
.titlepro {
  color: #212121;
  font-size: 18px;
  font-weight: 400;
  display: contents;
}
@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .input_left input[type=text] {
    justify-content: left !important;
    width: 100%;
    margin: 10px 0;
  }
}
